@{
    ViewBag.Title = "Test";
}

<article>
    <header>
        <h1>Hello World!</h1>
    </header>
    <p class="intro">
        The quick brown fox jumps over the lazy dog. This is some intro text. Hello world.
    </p>

    <h2>An article</h2>
    <p>
        The quick brown fox jumps over the lazy dog.
    </p>
</article>
