<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <connectionStrings>
    <!-- LOCAL 
    <add name="HP.ClearingCenter.Application.Data.ClearingCenterDataContext" connectionString="Data Source=VM-HPASCUA-PH\MSSQL2014; Initial Catalog=HP_GPS_ClearingCenter_Dev; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="WMCF_SetupScheme" connectionString="Data Source=VM-HPASCUA-PH\MSSQL2014; Initial Catalog=WMCF_SetupScheme_Stage; Integrated Security=true;" providerName="System.Data.SqlClient" />
    -->

    <!-- DEVELOP 
    <add name="HP.ClearingCenter.Application.Data.ClearingCenterDataContext" connectionString="Data Source=HPDBDEV; Initial Catalog=HP_GPS_ClearingCenter_Develop; User=app_hp_gps_develop; Password=bl28UqmxtDUIlKA89p75YCaY5a9PzNSwkohTmlRm;" providerName="System.Data.SqlClient" />
    -->
    
    <!-- STAGE -->
    <add name="HP.ClearingCenter.Application.Data.ClearingCenterDataContext" connectionString="Data Source=HPDBSTAGE; Initial Catalog=HP_GPS_ClearingCenter_Stage; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="WMCF_SetupScheme" connectionString="Data Source=HPDBSTAGE; Initial Catalog=WMCF_SetupScheme_Stage; Integrated Security=true;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <contexts>
      <context type="HP.ClearingCenter.Application.Data.ClearingCenterDataContext, HP.ClearingCenter.Application" disableDatabaseInitialization="true" />
    </contexts>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>