<?xml version='1.0' encoding='utf-8'?>
<connectionStrings>
  <!-- 
      NOTE: Duplicate this file and rename it to connections.config. DO NOT include connections.config to SCC!
  -->
  
  <!-- DEVELOP 
  <add name="HP.ClearingCenter.Application.Data.ClearingCenterDataContext" connectionString="Data Source=HPDBDEV; Initial Catalog=HP_GPS_ClearingCenter_Develop; User=app_hp_gps_develop; Password=bl28UqmxtDUIlKA89p75YCaY5a9PzNSwkohTmlRm;" providerName="System.Data.SqlClient" />
  --> 
  
  <add name="HP.ClearingCenter.Application.Data.ClearingCenterDataContext" connectionString="Data Source=VM-HPASCUA-PH\MSSQL2014; Initial Catalog=HP_GPS_ClearingCenter_Dev; Integrated Security=true;" providerName="System.Data.SqlClient" />
</connectionStrings>